@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;;
 }
 header{
    background-color: rgb(190, 190, 190);
    margin: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;}

 nav ul{
    display:flex;
    justify-content:center;
    list-style: none;
    text-align: center;
    gap: 25px;
    margin-left: 35px;
    margin-right: 35px;
 }
 .Blog{
    background-color: aliceblue;
    display: block;
    align-items: center;
    width: 550px;
    height: 730px;
  }
  #blog1{
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin: bottom 0px; 
    
  }
  #blog2{
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
  }
 
 footer{
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
  }